.blue_txt{
  color: #3a68b2;
}





/*common*/


header{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99999;
  padding: 0 50px;
  top: 0; left: 0;
  box-sizing: border-box;
  /* background-color:blueviolet; */
  border: 1px solid rgba(255,255,255,0.2);
  transition-duration: .3s;
}
header.active{
  height: 80px;
  background-color: #fff;
  box-shadow: 10px 0 15px 0 rgb(0 0 0 / 10%);
}
header>h1{
  width: 125px; height: 30px;
}
header>h1 img{
  width: 100%;
}
nav{
  width: 100%;
  max-width: 900px;
  height: 100%;
}
nav>ul{
  height: 100%;
  display: flex;
}
nav>ul li{
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1 auto;
  /*1씩 가다가 자리가 부족해지면 auto로 해라*/
  justify-content: center;
}
.gnbA{
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition-duration: .3s;
}
.gnbA.active{
  color: #222;
}
nav>ul li:hover a::after{
  width: 100%;
  opacity: 100%;
}
.gnbA::after{
  content: "";
  position: absolute;
  bottom: -5px; left: 0;
  width: 0;
  height: 2px;
  opacity: 0;
  background-color: #fff;
  transition: 0.3s, opacity 0.5s;
}
.gnbA.active::after{
  background-color: #222;
}
.btn_nav{
  display: none;
  width: 30px;
}
.btn_nav span{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
}
.btn_nav.active span{
  background-color: #000;
}
main{
  width: 100%;
  /* height: 600px; */
  /* background-color: rgb(23, 75, 57); */
}
/* !!!!!!!!!!!!! 스와이퍼 !!!!!!!!!!!!!!!!!! */

.swiper {
  /* position: relative; */
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
  width: 80px;
  height: 2px;
  background-color: #fff;
  color: #fff;
  text-align: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  left: -28.5% !important;
  bottom: 13% !important;
}

/* .slide_wrap{
  width: 100%;
  height: 100vh;
  max-height: 970px;
  position: relative;
  background-image: url(../img/main_visual_1.jpg);
  background-size: cover;
}
.slide{
  width: 100%;
  max-width: 1480px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: rgba(255,255,255,0.6); */
/* } */
.arrows{
  position: absolute;
  left: 10%; top: 30%;
  display: flex;
  z-index: 1;
}
.arrows>div{
  width: 60px; height: 60px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 30px;
  cursor: pointer;


}
.slide_text{
  position: absolute;
  left: 10%; top: 40%;
  max-width: 1480px;
  text-align: left;
}
.slide_text>h2{
  font-size: 74px;
  color: #fff;
  font-weight: bold;
  margin: 20px 0 12px;
}
.slide_text>p{
  opacity: 0.9;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.slide_text .btn_more{
  width: 220px;
  height: 65px;
  border: 1px solid rgba(255,255,255,0.6);
  color: #fff;
  font-size: 17px;
  padding: 0 45px 0 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

/* !!!!!!!!!!!!! 스와이퍼 !!!!!!!!!!!!!!!!!! */

section>h2{
  font-size: 38px;
  color: #222;
  font-weight: bold;
}
#service{
  width: 100%;
  max-width: 1440px;
  margin: 180px auto 210px;
}

#service>h2{
  text-align: center;
  margin-bottom: 30px;
}
#service>article{
  display: flex;
}
#service>article>div{
  width: 50%;
}
.serv_big{
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 0;
}
.serv_big>a{
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.serv_big>a>img{
  width: 100%;
  position: relative;
  transition-duration: 0.3s;
}
.serv_big>a>img:hover{
  transform: scale(1.1);
  background-color: #fff;
  opacity: 0.8;
}
.serv_sm>div{
  font-size: 0;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.serv_sm>div>a{
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.serv_sm>div>a>img{
  width: 100%;
  position: relative;
  transition-duration: 0.3s;
}
.serv_sm>div>a>img:hover{
  transform: scale(1.1);
  background-color: #fff;
  opacity: 0.8;
}
.serv_txt{
  position: absolute;
  left: 60px;
  bottom: 60px;
}
.serv_txt>h3{
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}
.serv_txt>p{
  font-size: 17px;
  font-weight: 300;
  opacity: 0.8;
  color: #fff;
}
.serv_txt>div{
  width: 100%;
  max-width: 140px;
  height: 40px;
  /* line-height: 40px; */
  padding: 0 15px 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 15px;
  border: 1px solid rgba(255,255,255,.3);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 240px;
  display: flex;
}
#about>h2{
  width: 50%;
}
#about h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
#about p{
  margin: 20px 0;
}
.about_btn{
  width: 140px;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_btn>a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #222;
  line-height: 50px;
}
.about_btn>a>span{
  display: inline-block;
  transform: translateX(35px);
  transition-duration: .3s;
}
.about_btn>a>span.active{
  transform: translateX(50px);
}
#banners{
  display: flex;
  height: 400px;
}
#banners>article{
  flex: 1;
  height: 100%;
  /* padding: 85px 60px; */
  border-right: 1px solid #dadfe6;
  box-sizing: border-box;
  background-color: #eee;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 47% auto;
  transition-duration: .3s;
  /* cursor: pointer; */
}
#banners>article>a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #222;
  padding: 85px 60px;
  box-sizing: border-box;
}
#banners>article>a:hover{
  color: #fff;
}
.members{
  background-image: url(../img/main_banner_figure1.png);
}
#banners>article.members:hover{
  background-color: #3891b2;
}

.talk{
  background-image: url(../img/main_banner_figure2.png);
}
#banners>article.talk:hover{
  background-color: #db574f;
}
.insu{
  background-image: url(../img/main_banner_figure3.png);
}
#banners>article.insu:hover{
  background-color: #f0b23a;
}
#banners h3{
  font-size: 24px;
  font-weight: 700;
  color: #222;
  margin-bottom: 14px;
  transition-duration: .3s;
}
#banners>.active h3{
  color: #fff !important;
}
#banners>.active p{
  color: #fff !important;
}
#banners p{
  color: #222;
  margin-bottom: 40px;
  opacity: 0.8;
  transition-duration: .3s;
}
.bnr_btn{
  width: 90px; height: 50px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #222;
}
#banners>.active .bnr_btn{
  border-bottom: 2px solid #fff;
}

footer{
  width: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
  background-color: #222;
  font-size: 15px;
  color: #666;
}
footer ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
footer ul>li{
  padding-left: 20px;
}
footer ul>li::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #444;
  margin-left: 20px ;
}
footer ul>li:last-child::after{
  display: none;
}
.f_cs{
  text-align: center;
  margin-top: 10px;
}
footer p{
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}


@media (max-width: 1600px) {
  #banners>article>a{
    padding: 30px;
  }
}
@media (max-width: 1280px) {
  .slide_text>h2{
    font-size: 50px;}
  .slide_text>p{
    font-size: 20px;}
  .slide_text .btn_more{
    width: 180px;
    height: 55px;
    padding: 0 20px;
    margin-top: 30px;
    font-size: 16px;
  }
  .arrows>div{
    width: 50px; height: 50px;
    margin-right: 10px;
  }
  .serv_txt{
    left: 40px;
    bottom: 40px;
  }


  /* #banners>article{
    padding: 30px;
  } */
}

@media (max-width: 1024px) {
  nav{
    display: none;
  }
  .btn_nav{
    display: block;
  }
  header>h1{
    width: 120px;
  }
  .swiper {
    height: 800px;
  }
  .slide{
    max-height: 800px;
  }
  .slide_text>h2{
    font-size: 42px;
  }
  #banners>article:last-child{
    display: none;
  }
  #about{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .about_btn{
    margin: 0 auto;
  }
  #service{
    margin: 120px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  #service>article{
    flex-direction: column;
  }
  #service>article>div{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  .serv_big{
    padding: 10px 0;
  }
  .serv_sm>div{
    padding: 10px 0;
  }
  .serv_sm>div>a>img{
    width: 100%;
  }

  section>h2{
    margin-bottom: 40px;
   font-size: 34px; 
  }
  #about>h2{
    width: 100%;
  }
  #about h3{
    font-size: 20px;
  }
  #banners p{
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .slide_text>h2{
    font-size: 36px;}
    .slide_text>p{
      font-size: 17px;}
  footer ul{
    flex-direction: column;
  }
  footer ul>li::after{
    display: none;
  }
  #banners>article:nth-child(2){
    display: none;
  }

  section>h2{
    font-size: 30px;
  }
  #about h3{
    font-size: 16px;
  }
  #banners h3{
    font-size: 20px;
  }
  #banners p{
    font-size: 14px;
  }
  #banners{
    height: 300px;
  }
}

